<%= form_with model: @comments, url: user_post_comments_path do |f| %>

<div>
  <div>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <%= f.submit 'comment' %> <br>
</div>

<% end %>