.user_container {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.user_hero {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: #B2BEB5;
  border: solid black 1px;
  border-radius: 5px;
}

.user_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.user_section_image {
  width: 72px;
  height: 72px;
  border: solid black 1px;
  border-radius: 5px;
}

.user_details_info {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.user_section_title {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.user_details_info span {
  align-self: end;
}

.user_bio_section {
  margin: 1rem 0;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0.5rem;
  width: 93%;
}

.user_bio_title {
  margin-top: 0;
}

.user_details_post {
  width: 93%;
}

.user_details_post .recent_title {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

.user_details_post_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border: solid black 1px;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.user_details_post_tile {
  margin-top: 0;
}

.user_comments_and_likes {
  align-self: end;
}

.user_details_see_btn {
  border: solid black 1px;
  border-radius: 5px;
  padding: 0.5rem;
  align-self: center;
}
